<div>
    <section class="grid">
        <div class="col-12 flex align-items-center justify-content-center">
            <p class="font_kanit typewriter-text">Tecnologias e padrões utilizados</p>
        </div>
    </section>
    <section class="grid section__cards">
        <p-card header="Backend:" class="card col-6 sm:col-12 md:col-6 lg:col-6 xl:col-6">
            <div class="grid">
                <div class="col-6">
                    <ul>
                        <li class="item_list">C# 10.0</li>
                        <li class="item_list">.NET 6</li>
                        <li class="item_list">ASP.NET Core 6.0.6</li>
                        <li class="item_list">MySQL 8.0.0</li>
                        <li class="item_list">RabbitMQ 3.10.7</li>
                        <li class="item_list">Docker Desktop 4.11.0</li>
                        <li class="item_list">Entity Framework Core 6.0.7</li>
                        <li class="item_list">Auto Mapper 11.0.1</li>
                        <li class="item_list">Fluent Validation 11.1.2</li>
                        <li class="item_list">MailKit 3.3.0</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li class="item_list">DDD (Domain Driven Design)</li>
                        <li class="item_list">Repository Pattern</li>
                        <li class="item_list">Notification Pattern</li>
                        <li class="item_list">Mapper Pattern</li>
                        <li class="item_list">Builder Pattern</li>
                        <li class="item_list">Validator Pattern</li>
                        <li class="item_list">Injeção de Dependências</li>
                        <li class="item_list">Hosted Service</li>
                        <li class="item_list">Autenticação JWT</li>
                    </ul>
                </div>
            </div>
        </p-card>
        <p-card header="Frontend:" class="card col-6 sm:col-12 md:col-6 lg:col-6 xl:col-6">
            <div class="grid">
                <div class="col-6">
                    <ul>
                        <li class="item_list">Angular 14.1.0</li>
                        <li class="item_list">HTML 5</li>
                        <li class="item_list">SCSS</li>
                        <li class="item_list">Typescript</li>
                        <li class="item_list">rxJS</li>
                        <li class="item_list">Angular JWT</li>
                        <li class="item_list">Prime NG</li>
                        <li class="item_list">Prime Flex</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li class="item_list">Modules</li>
                        <li class="item_list">Componentes</li>
                        <li class="item_list">Guards</li>
                        <li class="item_list">Services</li>
                        <li class="item_list">Interceptors</li>
                        <li class="item_list">Observables</li>
                    </ul>
                </div>
            </div>
        </p-card>
    </section>
</div>
