@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/lara-light-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeflex/primeflex.css");

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(243, 245, 245) !important;
}

.grid {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.p-datepicker-mask {
    position: initial !important;
}