<div>
    <section class="grid">
        <div class="col-12 flex align-items-center justify-content-center">
            <h1 class="font_kanit typewriter-text">Contato</h1>
        </div>
    </section>
    <section class="grid">
        <p-card header="LinkedIn" class="col-12">
            <div class="flex align-items-center gap-3">
                <i class="pi pi-linkedin"></i>
                <a href="https://www.linkedin.com/in/vinicios-silva-%F0%9F%9A%80-a1b16521a/" target="_blank">
                    https://www.linkedin.com/in/vinicios-silva-%F0%9F%9A%80-a1b16521a/
                </a>
            </div>
        </p-card>
        <p-card header="GitHub" class="col-12">
            <div class="flex align-items-center gap-3">
                <i class="pi pi-github"></i>
                <a href="https://github.com/ViniciosSM05/ToDo" target="_blank">
                    https://github.com/ViniciosSM05/ToDo
                </a>
            </div>
        </p-card>
        <p-card header="E-mail" class="col-12">
            <div class="flex align-items-center gap-3">
                <i class="pi pi-send"></i>
                <a href="mailto:viniciossilvamiguel@hotmail.com" target="_blank">
                    viniciossilvamiguel@hotmail.com
                </a>
            </div>
        </p-card>
    </section>
</div>
